.is-invalid {
  background-color: #dc3545 !important;
  color: white !important;
  border: 1px solid red !important;
}

.rbt-input-hint {
  width: 100%;
}

.rbt-menu {
  max-height: 700px !important;
}
