.detailsHeader {
  position: relative;
}
.detailsHeader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://image.tmdb.org/t/p/original/pIUvQ9Ed35wlWhY2oU6OmwEsmzG.jpg)
    no-repeat center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  filter: grayscale(100%);
}
