/* Inactive tab */
.navigation ul > li > a {
  background-color: white;
  color: red;
}
.navigation ul > li > a:hover {
  background-color: pink;
}

/* Active tab */
.navigation ul > li.active > a,
.navigation ul > li.active > a:hover,
.navigation ul > li.active > a:focus {
  background-color: red;
  color: white;
}

/* Disabled tab */
.navigation ul > li.disabled > a {
  background-color: lightgray;
  color: darkgray;
}
