html {
  overflow-y: scroll;
}

.container {
  min-width: 1150px;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: #3d3d3d;
}

a.light {
  text-decoration: none !important;
  color: #f8f9fa;
}

a.light:hover {
  color: #d6d6d6;
}

a.active.nav-link {
  background-color: #c0c3c6 !important;
}

.page-item.active > .page-link {
  background-color: #c0c3c6 !important;
  color: white !important;
  border-color: transparent !important;
}

.page-item > .page-link {
  color: black !important;
}
