html {
  overflow-y: scroll;
}

.container {
  min-width: 1150px;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: #282828;
}

a.light {
  text-decoration: none !important;
  color: #f8f9fa;
}

a.light:hover {
  color: #d6d6d6;
}
